Source: webphonon
Maintainer: Aaron Zakhrov <aaron.zakhrov@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 8), cdbs (>=0.4), libqt4-dev (>=4.6), qmake-qt4 (>=4.6), libphonon-dev (>=4.6)

Package: webphonon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: media player
 webphonon is a simple media player written in Qt
